@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x2l9wb');
  src:  url('fonts/icomoon.eot?x2l9wb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x2l9wb') format('truetype'),
    url('fonts/icomoon.woff?x2l9wb') format('woff'),
    url('fonts/icomoon.svg?x2l9wb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-light:before {
  content: "\e900";
}
.icon-dark:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-lastfm:before {
  content: "\eacb";
}
.icon-reddit:before {
  content: "\e903";
}
